.all
  -# .all__header
    -# .all__header__logo
    -#   グループを作成しました
  .all__sidebar
    = render 'devise/shared/sidebar'

  .all__chat
    .all__chat__group
      .all__chat__group__class
        .all__chat__group__class__name
          サンプル

        .all__chat__group__class__member
          Member : aaaa

      .all__chat__group__edit
        Edit

    .all__chat__main
      .all__chat__main__class
        .all__chat__main__class__name

          .all__chat__main__class__name__group
            aaa
          .all__chat__main__class__name__info
            2019/09/10(Tue) 18:00:00
        .all__chat__main__class__message
          bbb

    %form.all__chat__footer
      .all__chat__footer__class
        .all__chat__footer__class__input
          .all__chat__footer__class__input__message
            type a message
          .all__chat__footer__class__input__box
            %label.upload-label
              = fa_icon 'image', class: "all__chat__btn--icon"
              %input.all__chat__file{name: "message[image]",type: "file"}
        .all__chat__footer__class__send
          Send
