.all{
  height: 100vh;
  width: 100vw;

&__chat{
  width:  calc(100% - 300px);
  float: right;
}
&__chat__group{
  background-color: $white;
  height: 100px;
  padding: 0 40px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eeeeee;
  overflow: scroll;
}
&__chat__group__class{
  margin-top:35px;

}
&__chat__group__class__name{
  font-size:20px;
  color:#333333;
  padding: 0 0 15px 0;
}

&__chat__group__class__member{
  font-size:12px;
  color: $light_gray;
}

&__chat__group__edit{
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 30px;
  border: solid 1px $light_blue;
  position: absolute;
  right: 40px;
  color: $light_blue;
}

a, .yoshida{
  color: $light_blue;
}
&__chat__main{
height: calc(100vh - 288px);
background-color: #fafafa;
padding: 46px 40px;
overflow: scroll;
}

&__chat__main__class{
padding-bottom: 40px;
}

&__chat__main__class__name{
  display: flex;
  margin-bottom: 10px;
}

&__chat__main__class__name__group{
  color: $black;
  font-size: 16px;
  font-weight: bold;
}

&__chat__main__class__name__info{
  color: $light_gray;
  font-size: 12px;
  margin-left: 10px;
}

&__chat__main__class__message{
  color: $black;
  font-size: 14px;
  margin-bottom: 10px;
}

&__chat__footer{
  height:45px;
  padding: 20px 40px;
  background-color: #ddd;
  display:  table-cell;
  vertical-align:  middle;
  width:100vw;
}

&__chat__footer__class{
  display: flex;
}

&__chat__footer__class__input{
  position: relative;
  background: $white;
  width:100%;
}

&__chat__footer__class__input__message{
  width:100%;
  padding: 0 10px 0 10px;
  color: $black;
  border-style: none;
  line-height: 50px;
  margin-right: 20px;
}

&__chat__footer__class__input__box{
  font-size: 1.3rem;
  position: absolute;
  top: 0%;
  right: 10px;
}

&__chat__file{
  display:none;
}

&__chat__btn{
  color:#253141;

}

&__chat__footer__class__send{
  height: 50px;
  margin: 0 30px 0 30px;
  background-color: $light_blue;
  color: $white;
  line-height: 50px;
  border-color:$light_blue;
}
}